### Build ###
/build/
/release/

### Codeception ###
/codeception.yml
/tests/_output/
/tests/_support/_generated/

### Composer ###
/composer.lock
/vendor/

### npm ###
/node_modules/

### PhpStorm ###
/.idea/
